header {
  width: 100%;
  z-index: 100;
  position: sticky;
  top: 0;
  background-color: white;

  .container {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0;

    img.logo {
      width: 64px;
    }

    nav {
      display: flex;
      gap: 1rem;
    }

    @media (max-width: 576px) {
      flex-direction: column;
      align-items: center;
      gap: 1rem;

      padding: 1rem 0;
    }
  }
}
