#contact {
  width: 100%;
  background-image: linear-gradient(var(--accent) 0% 30%, white 30% 100%);

  .container {
    .form_wrapper {
      position: relative;
      width: 100%;
      padding-top: 9.3rem;

      .main_img {
        width: 812px;

        position: absolute;
        top: 0;
        right: 0;
        z-index: 3;
      }

      .layer_img {
        width: 579px;
        opacity: 0.55;

        position: absolute;
        top: 5rem;
        right: 4rem;
        z-index: 2;
      }

      .form_container {
        position: relative;
        z-index: 5;
        width: 630px;
        background-color: white;
        box-shadow: var(--shadow-lg);
        padding: 60px 40px 150px;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;

        form {
          width: 100%;
          padding: 0 30px;
          display: flex;
          flex-direction: column;
          gap: 28px;

          .form_field {
            outline: none;
            border: none;
            padding: 10px 12px;
            border-bottom: 1.6px solid black;
            font-size: 1rem;

            &.form_message {
              resize: none;
            }
          }
        }
      }
    }

    .info_wrapper {
      position: relative;
      z-index: 10;
      width: 100%;
      margin-top: -3rem;

      display: flex;
      justify-content: end;

      .info {
        width: 961px;

        display: flex;
        flex-wrap: wrap;

        .contact_info {
          padding: 45px 30px 30px;
          display: flex;
          flex-direction: column;
          gap: 20px;
          width: 33.33333%;
          background-color: var(--secondary);

          .title_wrapper {
            display: flex;
            align-items: center;
            gap: 1rem;

            i {
              font-size: 1.3rem;
              color: white;
            }
          }
        }
      }
    }
  }

  @media (max-width: 1200px) {
    .container {
      .form_wrapper {
        padding-top: 7rem;

        .main_img {
          width: 677px;
        }

        .layer_img {
          width: 564px;
          aspect-ratio: 2/1;
          object-fit: cover;

          top: 16.5rem;
        }

        .form_container {
          padding-bottom: 120px;
          width: 527px;
        }
      }

      .info_wrapper {
        .info {
          width: 874px;
        }
      }
    }
  }

  @media (max-width: 990px) {
    .container {
      .form_wrapper {
        padding-top: 15rem;

        .main_img {
          width: 571px;
        }

        .layer_img {
          width: 456px;
          object-fit: cover;

          top: 15.5rem;
        }

        .form_container {
          padding: 30px 30px 160px;
        }
      }

      .info_wrapper {
        margin-top: -6rem;

        .info {
          width: 648px;

          .contact_info {
            width: 50%;

            .title_wrapper {
              flex-direction: column;
              align-items: start;
              gap: 20px;
            }
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    .container {
      .form_wrapper {
        padding-top: 13.5rem;

        .main_img {
          width: 451px;
          height: 273px;
          object-fit: cover;
          right: 2.5rem;
        }

        .layer_img {
          right: 0;
          top: 6rem;
        }

        .form_container {
          width: 439px;
          padding: 30px 20px 110px;

          form {
            padding: 0 10px;
          }
        }
      }

      .info_wrapper {
        margin-top: -3rem;

        .info {
          width: 435px;
          .contact_info {
            width: 100%;
            gap: 28px;

            .title_wrapper {
              flex-direction: row;
              align-items: center;
              gap: 20px;
            }

            p.des {
              margin-left: 47px;
            }
          }
        }
      }
    }
  }

  @media (max-width: 576px) {
    .container {
      .form_wrapper {
        padding-top: 180px;

        .main_img {
          width: 90%;
          height: auto;
          aspect-ratio: 3/2;
          left: 0;
        }

        .layer_img {
          width: 100%;
          height: 170px;
          top: 5rem;
        }

        .form_container {
          width: 90%;
          padding: 30px 20px 60px;
        }
      }

      .info_wrapper {
        margin-top: 2rem;
        justify-content: start;
        .info {
          width: 95%;
          .contact_info {
            width: 100%;
            gap: 28px;

            .title_wrapper {
              flex-direction: row;
              align-items: center;
              gap: 20px;
            }

            p.des {
              margin-left: 47px;
            }
          }
        }
      }
    }
  }

  @media (max-width: 400px) {
    .container {
      .form_wrapper {
        .main_img {
          width: 95%;
        }

        .form_container {
          width: 95%;
        }
      }

      .info_wrapper {
        .info {
          width: 100%;
          .contact_info {
            padding: 45px 20px 30px;
          }
        }
      }
    }
  }
}
