#hero_sec {
  width: 100%;
  height: 110vh;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url(../images/hero-sec.jpg) center/cover;

  .container {
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    justify-content: end;

    .content {
      width: 41%;
      height: 100%;
      border: 2px solid white;
      padding: 2rem;

      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;
    }
  }

  @media (max-width: 1200px) {
    height: 90vh;
    .container {
      .content {
        width: 50%;
      }
    }
  }

  @media (max-width: 768px) {
    height: auto;
    .container {
      .content {
        width: 60%;
      }
    }
  }

  @media (max-width: 576px) {
    background-position-x: -100px;
    .container {
      .content {
        width: 80%;
      }
    }
  }

  @media (max-width: 400px) {
    .container {
      .content {
        width: 100%;
      }
    }
  }
}
