#interior_design {
  width: 100%;

  .container {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;

    .left {
      width: calc(50% - 2rem);
      height: 100%;

      display: flex;
      flex-direction: column;
      gap: 20px;

      img {
        width: 100%;
        height: 561px;
        object-fit: cover;
        object-position: left;
      }
    }

    .right {
      width: calc(50% - 2rem);
      height: 100%;

      display: flex;
      flex-direction: column;
      gap: 40px;

      .img_wrapper {
        position: relative;
        width: 100%;
        height: 561px;

        display: flex;
        align-items: center;

        .circle_img {
          width: 437px;
          aspect-ratio: 1 / 1;
          border-radius: 50%;
        }

        .layer_img {
          width: 397px;
          height: 453px;
          position: absolute;
          z-index: -1;
          top: 0;
          right: 0;
          background-image: url(../images/interior-design/3.png);
        }
      }

      .content {
        padding: 0px 60px 20px 0;
        display: flex;
        flex-direction: column;
        gap: 20px;

        a.button {
          border-radius: 0;
          width: 160px;
          height: 45px;
          color: var(--primary);
          border: 1.6px solid #c0c0c0;
          font-size: 14px;
          font-weight: 400;

          &:hover {
            background-color: #d9d9d9;
            border-color: #d9d9d9;
          }
        }
      }
    }

    @media (max-width: 1200px) {
      .right {
        .img_wrapper {
          .circle_img {
            width: 411px;
          }

          .layer_img {
            width: 335px;
            height: 361px;
          }
        }
      }
    }

    @media (max-width: 990px) {
      .left {
        width: 100%;

        img {
          width: 100%;
          height: 709px;
        }
      }

      .right {
        width: 100%;

        .img_wrapper {
          height: fit-content;

          .circle_img {
            width: 80%;
            margin-top: 40px;
          }

          .layer_img {
            width: 80%;
            height: 387px;
          }
        }
      }
    }

    @media (max-width: 768px) {
      .left {
        img {
          height: 532px;
        }
      }

      .right {
        width: 100%;

        .img_wrapper {
          height: fit-content;

          .circle_img {
            width: 90%;
          }

          .layer_img {
            height: 387px;
          }
        }
      }
    }

    @media (max-width: 768px) {
      .left {
        img {
          height: auto;
          aspect-ratio: 1 / 1;
        }
      }

      .right {
        width: 100%;

        .img_wrapper {
          .layer_img {
            height: 249px;
          }
        }

        .content {
            padding-right: 0;
        }
      }
    }
  }
}
