#interior_designers {
  width: 100%;
  background-color: var(--accent);
  padding-top: 4rem;

  h2.title.lg {
    text-align: center;
    margin-bottom: 2rem;
  }

  .bg_img {
    width: 100%;
    height: 667px;

    object-fit: cover;
  }

  .container {
    padding-top: 0;
    .cards {
      position: relative;
      width: 100%;
      margin-top: -180px;

      display: flex;
      flex-wrap: wrap;
      gap: 1.5rem;

      .card {
        width: calc(25% - 1.125rem);
        background-color: white;
        box-shadow: var(--shadow);
        padding: 3rem 20px;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        text-align: center;

        .icon_wrapper {
          width: 80px;
          height: 80px;
          background-color: var(--secondary);
          border-radius: 50%;
          margin-bottom: 7px;

          display: flex;
          justify-content: center;
          align-items: center;

          img {
            width: 48px;
            height: 48px;
          }
        }
      }
    }
  }

  @media (max-width: 1200px) {
    .bg_img {
      height: 588px;
    }
  }

  @media (max-width: 990px) {
    .bg_img {
      height: 496px;
    }

    .container {
      .cards {
        margin-top: -80px;
        .card {
          width: calc(50% - 0.75rem);
        }
      }
    }
  }

  @media (max-width: 768px) {
    .bg_img {
      height: 454px;
      object-position: -100px;
    }
  }

  @media (max-width: 576px) {
    h2.title.lg {
      padding: 0 1.2rem;
    }

    .container {
      .cards {
        .card {
          width: 100%;
          padding: 20px 10px;
        }
      }
    }
  }
}
