@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css");

@import url("./1-header.css");
@import url("./2-hero-sec.css");
@import url("./3-hotels.css");
@import url("./4-ideas.css");
@import url("./5-visualization.css");
@import url("./6-driven.css");
@import url("./7-interior-design.css");
@import url("./8-unique.css");
@import url("./9-interior-designers.css");
@import url("./10-contact.css");

/*//? General css settings */
:root {
  --primary: #111111;
  --secondary: #c1b688;
  --accent: #e5e5e5;
  --link: #ffcfb0;

  --shadow: 5px 5px 20px 0px rgba(41, 46, 51, 0.2);
  --shadow-lg: 5px 5px 20px 0px rgba(41, 46, 51, 0.4);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: var(--primary);
}

body {
  overflow: hidden;
  color: var(--primary);
  background-color: white;
}

#main {
  overflow: hidden auto;
  height: calc(100dvh - 86.81px);

  @media (max-width: 576px) {
    height: calc(100dvh - 110.81px);
  }
}

/*//? Tags */
h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat", sans-serif;
}

p,
button,
a,
span,
body,
input,
textarea {
  font-family: "Open Sans", sans-serif;
}

/*//? Pseudo elements */
::selection {
  color: var(--secondary);
  background-color: var(--primary);
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 20px;
  border: 3px solid var(--secondary);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--accent);
}

::-webkit-scrollbar-track {
  background: var(--secondary);
}

/*//? Tags*/
a {
  text-decoration: none;
}

/*//? Components */
.container {
  width: 100%;
  max-width: 1140px;
  height: 100%;
  margin: 0 auto;
  padding: 5rem 0;

  @media (max-width: 1200px) {
    width: 940px;
  }

  @media (max-width: 990px) {
    width: 720px;
  }

  @media (max-width: 768px) {
    width: 540px;
  }

  @media (max-width: 576px) {
    width: 340px;
  }

  @media (max-width: 400px) {
    padding: 5rem 1.2rem;
    width: 100%;
  }
}

.button {
  width: 221px;
  height: 59px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1rem;
  font-weight: 500;
  color: white;
  background-color: var(--secondary);

  border-radius: 32px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.3s ease;

  &:hover {
    background-color: var(--primary);
    color: white;
  }

  &.hero {
    width: 211px;
    height: 60px;
    border: 2px solid white;
    background-color: transparent;

    &:hover {
      background-color: white;
      color: var(--primary);
    }
  }

  &.card_btn {
    background-color: transparent;
    color: var(--primary);
    width: fit-content;
    height: fit-content;
    border-bottom: 0.8px solid black;
    border-radius: 0;
    &:hover {
      border-color: var(-accent);
    }
  }

  &.submit {
    width: 100%;
    height: 49px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    letter-spacing: 0;
  }

  &:active {
    background-color: var(--accent) !important;
    color: var(--primary) !important;
    border: none !important;
  }
}

.head_text {
  font-size: 60px;
  font-weight: 700;

  color: white;

  @media (max-width: 990px) {
    font-size: 48px;
  }

  @media (max-width: 768px) {
    font-size: 36px;
  }

  @media (max-width: 576px) {
    font-size: 30px;
  }
}

.title {
  font-size: 48px;
  font-weight: 400;

  color: var(--primary);

  @media (max-width: 576px) {
    font-size: 36px;
  }

  &.lg {
    font-size: 92px;

    @media (max-width: 990px) {
      font-size: 72px;
    }

    @media (max-width: 768px) {
      font-size: 48px;
    }

    @media (max-width: 576px) {
      font-size: 36px;
    }
  }

  &.sm {
    font-size: 36px;

    @media (max-width: 768px) {
      font-size: 34px;
    }

    @media (max-width: 400px) {
      font-size: 30px;
    }
  }

  &.light {
    color: white;
  }
}

.card_title {
  font-size: 20px;
  font-weight: 400;
  color: var(--primary);
  letter-spacing: 2px;
  text-transform: uppercase;

  @media (max-width: 1200px) {
    font-size: 18px;
  }

  &.contact {
    font-size: 20px;
    font-weight: 700;
    color: white;
    letter-spacing: 0px;
  }

  &.sm {
    font-size: 18px;
    font-weight: 700;
    text-transform: none;
    letter-spacing: 0px;
  }

  &.lg {
    font-size: 24px;
    text-transform: none;

    @media (max-width: 768px) {
      font-size: 20px;
    }
  }

  &.light {
    color: white;
  }
}

.des {
  font-size: 16px;
  line-height: 25px;
  color: var(--primary);

  &.head {
    font-size: 20px;
    line-height: 32px;
  }

  @media (max-width: 768px) {
    font-size: 16px;
  }

  &.sm {
    font-size: 14px;
  }

  &.xs {
    font-size: 12.8px;
  }

  &.md {
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
  }

  &.lg {
    font-size: 20px;
    line-height: 32px;

    &.thin {
      font-weight: 300;

      @media (max-width: 768px) {
        font-size: 18px;
      }
    }
  }

  &.italic {
    font-style: italic;
  }

  &.light {
    color: white;
  }
}

.number {
  font-size: 48px;
  font-weight: 700;
  color: var(--secondary);

  @media (max-width: 576px) {
    font-size: 24px;
  }
}

.link {
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  color: var(--primary);
  transition: all 0.3s ease;

  &:hover {
    opacity: 0.5;
  }

  &:active {
    color: var(--secondary);
    opacity: 0.7;
  }

  @media (max-width: 768px) {
    font-size: 18px;
  }
}
