@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css");

@import url("./1-header.css");
@import url("./2-hero-sec.css");

/*//? General css settings */
:root {
  --primary: #111111;
  --secondary: #c1b688;
  --accent: #e5e5e5;
  --link: #ffcfb0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: var(--primary);
}

body {
  overflow: hidden;
}

#main {
  overflow: hidden auto;
  height: calc(100dvh - 86.81px);

  @media (max-width: 576px) {
    height: calc(100dvh - 110.81px);
  }
}

/*//? Tags */
h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat", sans-serif;
}

p,
button,
a,
span,
body {
  font-family: "Open Sans", sans-serif;
}

/*//? Pseudo elements */
::selection {
  color: var(--secondary);
  background-color: var(--accent);
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 20px;
  border: 2px solid var(--primary);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--accent);
}

::-webkit-scrollbar-track {
  background: var(--primary);
}

/*//? Tags*/
a {
  text-decoration: none;
}

/*//? Components */
.container {
  width: 100%;
  max-width: 1140px;
  height: 100%;
  margin: 0 auto;
  padding: 5rem 0;

  @media (max-width: 1200px) {
    width: 940px;
  }

  @media (max-width: 990px) {
    width: 720px;
  }

  @media (max-width: 768px) {
    width: 540px;
  }

  @media (max-width: 576px) {
    width: 340px;
  }

  @media (max-width: 400px) {
    padding: 5rem 1.2rem;
    width: 100%;
  }
}

.button {
  width: 211px;
  height: 62px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid var(--secondary);
  border-radius: 32px;
  text-transform: uppercase;
  color: var(--primary);
  background-color: transparent;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 3px;
  transition: all 0.3s ease;

  &:hover {
    background-color: var(--secondary);
    color: white;
  }

  &.light {
    border-color: white;
    color: white;

    &:hover {
      background-color: white;
      color: var(--primary);
    }
  }

  &.menu {
    cursor: pointer;
    font-weight: 700;
    border: none;
    background-color: var(--secondary);
    color: white;
    width: 138px;
    height: 45px;
    letter-spacing: normal;

    &:hover {
      background-color: var(--primary);
    }
  }

  &:active {
    background-color: var(--accent) !important;
    color: var(--primary) !important;
    border: none !important;
  }

  @media (max-width: 768px) {
    font-size: 14px;
  }
}

.head_text {
  font-size: 65px;
  font-weight: 700;

  color: white;

  @media (max-width: 768px) {
    font-size: 55px;
  }

  @media (max-width: 400px) {
    font-size: 45px;
  }
}

.title {
  font-size: 60px;
  font-weight: 700;

  color: var(--primary);

  @media (max-width: 768px) {
    font-size: 50px;
  }

  @media (max-width: 400px) {
    font-size: 40px;
  }

  &.lg {
    font-size: 72px;

    @media (max-width: 768px) {
      font-size: 60px;
    }

    @media (max-width: 576px) {
      font-size: 40px;
    }

    @media (max-width: 400px) {
      font-size: 35px;
    }
  }

  &.md {
    font-size: 48px;

    @media (max-width: 768px) {
      font-size: 40px;
    }

    @media (max-width: 400px) {
      font-size: 35px;
    }
  }

  &.sm {
    font-size: 36px;

    @media (max-width: 768px) {
      font-size: 30px;
    }

    @media (max-width: 400px) {
      font-size: 25px;
    }
  }

  &.light {
    color: white;
  }
}

.card_title {
  font-size: 20px;
  font-weight: 700;
  color: var(--primary);
  color: #111111;

  &.light {
    color: white;
  }

  &.sm {
    font-size: 16px;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    color: white;

    @media (max-width: 768px) {
      font-size: 14px;
    }
  }

  &.lg {
    font-size: 24px;
    text-transform: uppercase;
    color: var(--secondary);

    @media (max-width: 768px) {
      font-size: 20px;
    }
  }

  @media (max-width: 768px) {
    font-size: 18px;
  }
}

.subtitle {
  font-size: 24px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #111111;

  @media (max-width: 768px) {
    font-size: 20px;
  }

  @media (max-width: 400px) {
    font-size: 18px;
  }
}

.des {
  font-size: 16px;
  line-height: 25px;
  color: var(--primary);

  &.head {
    line-height: 35px;
  }

  @media (max-width: 768px) {
    font-size: 16px;
  }

  &.lg {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;

    @media (max-width: 768px) {
      font-size: 18px;
    }
  }

  &.italic {
    font-style: italic;
  }

  &.light {
    color: white;
  }
}

.number {
  font-size: 48px;
  font-weight: 700;
  font-family: "Oswald", sans-serif;

  color: var(--secondary);
}

.link {
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  color: var(--primary);
  transition: all 0.3s ease;

  &:hover {
    color: var(--secondary);
  }

  &:active {
    color: var(--accent);
    opacity: 0.7;
  }

  @media (max-width: 768px) {
    font-size: 18px;
  }
}
